* {
  box-sizing: border-box;
}
html {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  font-weight: 100;
  line-height: 1.6;
}
body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
}
header {
  padding: 1rem 2rem;
  background-color: cornflowerblue;
  color: white;
}
nav {
  padding: 0 2rem;
  display: flex;
  justify-content: space-evenly;
}
main {
  padding: 1rem 2rem;
}
